<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= title || 'Undefined' %></title>

<script>
    const theme = localStorage.getItem("theme")
    if (theme) {
        document.documentElement.setAttribute("data-theme", theme)
    }
</script>

<link rel="stylesheet" href="/public/css/style.css" />
<link rel="stylesheet" href="/public/css/<%= css || 'style.css' %>" />

<link rel="preload" href="/public/js/index.js" as="script" crossorigin="anonymous">
<link rel="preload" href="/public/js/dashboard.js" as="script" crossorigin="anonymous">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Serif:ital@0;1&display=swap" rel="stylesheet">