<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(
        'components/$meta.ejs', 
        { title: 'Index', "css": "style.css" }
    ) %>
</head>
<body>
    <main class="index">
        <h1 class="index-title">authorized</h1>
    </main>
</body>
</html>