<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(
        'components/$meta.ejs', 
        { title: 'lurking', "css": "index.css" }
    ) %>
</head>
<body>
    <input type="password" name="" id="index-passwd">
    <div class="modal-container absolute flex flex-col"></div>

    <main class="index">
        <h1 class="index-title">are you sure something is here..?</h1>
        <p id="index-protip"></p>
    </main>

    <script type="module">
        import "/public/js/index.js"
    </script>
</body>
</html>