<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>login</h1>
        <form action="/auth/login" method="post">

        </form>
    </main>
    <footer>
        <p>2026 smil</p>
    </footer>
</body>
</html>