
body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;
    padding: 0.75rem 2rem;
}

textarea {
    font-family: "Geist", sans-serif;
    padding: 0.25rem;

    resize: none;
    border: none;
    outline: none;
}

input, select {
    border: none;
    outline: none;

    border-bottom: 1px solid var(--text);
    border-radius: 3px;

    background-color: var(--bg);
    color: var(--text);

    padding: 0.2rem;
}

input[type="submit"] {
    margin-left: 1rem;
    cursor: pointer;
}

.add-section {
    padding-bottom: 1rem;
    width: 100%;
}

.add-section:first-child {
    padding-right: 2rem;
}

.add-container {
    justify-content: space-between;
    width: 100%;
}

.container {
    width: 60vw;
    min-height: 50vh;
}

.header {
    font-family: 'Instrument Serif', 'Times New Roman', serif;
    display: flex;

    justify-content: space-between;

    align-items: center;
    padding-bottom: 0.45rem;

    user-select: none;
}

.add-container .add-section:last-child {
    margin-left: auto;
}

.header-right p:not(:last-child), 
.header-left p:not(:last-child) { margin-right: 1rem; }

.header-right p, .header-left p {
    line-height: 3rem;
    font-size: 1.5rem;
}

.header-right #h-selected {   
    font-weight: bold;
    font-size: 3rem;
}

.content { font-family: "Geist", sans-serif; }
.content .scrolling {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 16rem;
    overflow-y: scroll;
}
.content .scrolling p {
    padding: 0.2rem;
    cursor: pointer;
}


.content table th, .content table td {
    border: 1px solid var(--text);
    padding: 0.5rem;
}

@media screen and (max-width: 900px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}