
body {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;
    padding: 0.75rem 2rem;
}

.container {
    width: 60vw;
    min-height: 50vh;
}

.header {
    font-family: 'Instrument Serif', 'Times New Roman', serif;
    display: flex;

    justify-content: space-between;

    align-items: center;
    padding-bottom: 0.45rem;

    user-select: none;
}

.header-right p:not(:last-child) { margin-right: 0.7rem; }
.header-left p:not(:last-child) { margin-right: 1rem; }

.header-right p, .header-left p {
    line-height: 3rem;
    font-size: 1.5rem;
}

.header-right #h-selected {
    font-weight: bold;
    font-size: 3rem;
}

.content { font-family: "Geist", sans-serif; }
.content table {
    border: 1px solid var(--text);
    border-collapse: collapse;
}

.content table th, .content table td {
    border: 1px solid var(--text);
    padding: 0.5rem;
}
