
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #121212;
    --white: #fffafa;
    --green: #40a02b;
    --red: #e64553;
    --yellow: #df8e1d;

    --bg: var(--white);
    --text: var(--black); 
}

:root[data-theme="light"] {
    --bg: var(--white);
    --text: var(--black);
}

:root[data-theme="dark"] {
    --bg: var(--black);
    --text: var(--white);
}

body { 
    background-color: var(--bg); 
    color: var(--text); 

    transition: background-color 0.25s ease, color 0.25s ease, opacity 0.5s ease;
}

/* Helper */
.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-row { flex-direction: row; }

.green { color: var(--green); }
.red { color: var(--red); }
.bold { font-weight: bold; }

.unselectable { user-select: none; }
.pointer { cursor: pointer; }

.absolute { position: absolute; }
.relative { position: relative; }

.hidden { display: none; }


/* Modal */
.modal-container {
    top: 0.5rem;
    left: 0.5rem;
}

.modal {
    width: 15rem;
    padding: 0.5rem 0.9rem;

    transition: opacity 0.5s ease;
    opacity: 0;

    border-radius: 5px;
}

.modal h2 {font-family: 'Instrument Serif', 'Times New Roman', serif; }
.modal p { font-family: "Geist", sans-serif; }

.modal-good h2 { color: var(--green); }
.modal-bad h2 { color: var(--red); }
.modal-warning h2 { color: var(--yellow); }

/* Edit Modal */
.edit-modal-container {
    background-color: var(--bg);

    width: 100%;
    height: 100%;
}

.edit-modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Fading */
.fadeIn { opacity: 1; }
.fadeOut { opacity: 0; }