
<div class="add-container flex flex-col">
    <div class="flex flex-row">
        <div class="add-section">
            <h2>ips</h2>
            <div class="flex flex-row add-form">
                <select id="ip-target">
                    <option value="DROP">drop</option>
                    <option value="REJECT">reject</option>
                    <option value="ACCEPT">accept</option>
                </select>
                <p>—</p>

                <input type="text" id="ip-addr" placeholder="192.168.0.1">

                <button onclick="addIp()">add</button>
            </div>
        </div>

        <div class="add-section">
            <h2>ports</h2>
            <div class="flex flex-row add-form">
                <select id="port-target">
                    <option value="DROP">drop</option>
                    <option value="REJECT">reject</option>
                    <option value="ACCEPT">accept</option>
                </select>
                <p>—</p>

                <input type="text" id="port-num" placeholder="8080">
                <p>/</p>
                
                <select id="port-protocol">
                    <option value="tcp">tcp</option>
                    <option value="udp">udp</option>
                    <option value="icmp">icmp</option>
                </select>

                <button onclick="addPort()">add</button>
            </div>
        </div>
    </div>

    <div class="flex flex-row">
        <div class="add-section">
            <h2>ip + port</h2>
            <div class="flex flex-row add-form">
                <select id="ipport-target">
                    <option value="DROP">drop</option>
                    <option value="REJECT">reject</option>
                    <option value="ACCEPT">accept</option>
                </select>
                <p>—</p>

                <input type="text" id="ipport-ip" placeholder="192.168.0.1">
                <p>:</p>

                <input type="text" id="ipport-port" placeholder="8080">
                <p>/</p>

                <select id="ipport-protocol">
                    <option value="tcp">tcp</option>
                    <option value="udp">udp</option>
                    <option value="icmp">icmp</option>
                </select>

                <button onclick="addIpPort()">add</button>
            </div>
        </div>
        
        <div class="add-section">
            <h2>rich rule</h2>
            <div class="flex flex-col add-form">
                <div class="flex flex-row">
                    <select id="rr-target">
                        <option value="DROP">drop</option>
                        <option value="REJECT">reject</option>
                        <option value="ACCEPT">accept</option>
                    </select>
                    <p>—</p>

                    <select id="rr-protocol">
                        <option value="tcp">tcp</option>
                        <option value="udp">udp</option>
                        <option value="icmp">icmp</option>
                    </select>
                </div>
                <div class="flex flex-row">
                    <input type="text" id="rr-source" placeholder="source ip">
                    <p>—</p>

                    <input type="text" id="rr-destination" placeholder="dest ip">
                </div>
                <div class="flex flex-row">
                    <input type="text" id="rr-sport" placeholder="src port">
                    <p>—</p>

                    <input type="text" id="rr-dport" placeholder="dst port">
                </div>

                <button onclick="addRichRule()">add</button>
            </div>
        </div>
    </div>
</div>