<form action="POST" class="flex flex-col">
    <select name="type" id="type">
        <option value="port">port</option>
        <option value="ip">ip</option>
        <option value="portForIp">port for ip</option>
    </select>
    <input type="text" name="port" id="port" placeholder="port">
    <input type="text" name="ip" id="ip" placeholder="ip">
    <input type="submit" value="add">
</form>